.header-container, .results-container {
    display: flex;
    flex-flow: column wrap;
    /* margin-top: 10px; */
  }
  
  .header-container .headers, .results-container .recipeResults {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
  }
  
.title, .prepTime .id, .rating, .recipeResults .votes, .headers .header {
    flex: 1 0 25%;
  }
